.gitignore# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.venv-ha/
.venv-package/
.venv-wheel/

# VS Code
.vscode/*.log

# Test
.pytest_cache/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# Build
dist/
build/
*.egg-info/
